body {
  margin: 0;
  width: 100%;
}
.hero > img {
  width: 100%;
  height: 100%;
}
div.buttons {
  position: absolute;
  right: 4%;
  top: 1%;
}
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 0 auto;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3c93d5;
}

.blue:hover {
  background-color: #6fc6ff;
}

.playerTable {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
.show {
    display: none;
    background-image: url("field.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
#table0 {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  align-self: center;
  width: 85%;
}
#table0 tr:nth-child(odd){
    background-color: #4C8BF5;
    color: #fff;
  }
  #table0 tr:nth-child(even){
    background-color: grey;
    color: #fff;
  }

td {
  font-family: sans-serif;
  white-space: nowrap;
  padding-right: 12px;
}
